.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.25vmin;
}

.row > div {
  width: 200px;
  border: 1px solid black;
}

.Exercise {
  background-color: aliceblue;
}

.Study {
  background-color: lightgreen;
}

.Jobs {
  background-color: salmon;
}

.Read {
  background-color: violet;
}

.toDo-btns {
  display: inline-flex;
  height: .5vmax;
  margin: 0;
  align-items: center;
}

.cancel-edit {
 height: 10px;
 width: 10px;
 display: inline-flex;
 justify-content: center;
 align-items: center;
}

.confirm-edit {
  height: 10px;
  width: 10px; 
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.schedule-time {
  display: flex;
  justify-content: center;
  align-items: center;
}