.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row > div {
  width: 200px;
  border: 1px solid black;
}

/* @media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  *, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .row > div {
    width: auto;
    max-width: 16%;
    margin-right: 2%;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  button, input[type="text"], select {
    font-size: 12px;
    padding: 5px;
    margin: 2px 0;
  }
  @media (max-width: 320px) {
    .row > div {
      max-width: 15%;
    }
  }
} */

.Exercise {
  background-color: aliceblue;
}

.Study {
  background-color: lightgreen;
}

.Jobs {
  background-color: salmon;
}

.Read {
  background-color: violet;
}

.toDo-btns {
  display: inline-flex;
}

.dayDetailHeader {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  padding: 20px;
  gap: 20px;
  /* flex: 1;
  min-width: 0; */
}