.addToDoPage form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: center;
  font-size: 1.25vmin;
}

.addToDoPage label {
  text-align: left;
  padding-right: 10px;
}

.addToDoPage input,
.addToDoPage select {
  justify-self: start;
  padding: 10px;
  width: 100%;
  font-size: 1.25vmin;
  border-radius: 10px;
}

.addToDoPage select {
  cursor: pointer;
}

.addToDoPage button {
  grid-column: 1 / 3;
  justify-self: start;
  padding: 10px;
  cursor: pointer;
}
