.CalendarPage {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 1vmin;
  font-size: 2.5vmin;
}

.CalendarPage > header {
  grid-column: span 7;
  justify-content: space-between;
}

.CalendarPage > .dow {
  height: 8vmin;
  width: 8vmin;
}

.CalendarPage > header > span:first-child,
.CalendarPage > header > span:last-child {
  cursor: pointer;
  font-size: 3vmin;
}

.CalDay {
  height: 8vmin;
  width: 8vmin;
  background-color: rgb(129, 211, 217);
  border-radius: 1vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 2vmin;
}

.CalDay.today {
  border: 0.5vmin solid gray;
}

.toDoCategories {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5vmin;
}

.exerciseCal {
  position: absolute;
  top: 5px;
  left: 5px;
}

.studyCal {
  position: absolute;
  top: 5px;
  right: 5px;
}

.jobsCal {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.readCal {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.progressCount {
  display: flex;
  flex-direction: column;
  background-color: lightgoldenrodyellow;
  font-size: 1.5vmin;
  padding: 10px;
  margin: 10px; 
  border-radius: 15px;
}

.exerciseProgress {
  background-color: aliceblue;
  border-radius: 10px;
  margin: 20px;
  font-size: 1.5vmin;
}

.studyProgress {
  background-color: lightgreen;
  border-radius: 10px;
  margin: 20px;
  font-size: 1.5vmin;
}

.jobsProgress {
  background-color: salmon;
  border-radius: 10px;
  margin: 20px;
  font-size: 1.5vmin;
}

.readProgress {
  background-color: violet;
  border-radius: 10px;
  margin: 20px;
  font-size: 1.5vmin;
}